{{ define "main" }}

<div class="container">
  <div class="content">
    <div class="list-objects">
      {{ $paginator := .Paginate (.Data.Pages) 20 }}
      {{ range $paginator.Pages }}
      <div class="feed-list">
        <div class="text-muted mb-1">
          {{- partial "post-date.html" . -}}
        </div>
        <h5>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h5>
        <div class="text-muted">
          {{- partial "post-tags.html" . -}}
        </div>
        <div class="clearfix"></div>
        <hr>
      </div>
      {{ end }}
      <!-- Hugo's default pagination template. -->
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{- end }}