{{ define "main" }}
<div class="container">
  <div class="content">
    <article class="single">
      <h1 class="title">{{ .Title }}</h1>
      {{if .Section}}
      <div class="text-muted text-center">
        {{- partial "post-date.html" . -}}
      </div>
      {{end}}
      <hr class="mini" />
      {{ .Content }}
      <hr />
      {{if .Section}}
        {{- partial "post-meta.html" . -}}
      {{end}}
      <div class="clearfix"></div>
    </article>
    {{if .Section}}
      {{- partial "post-nav2.html" . -}}
    {{end}}
    <hr>
    <div class="clearfix"></div>
  </div>
</div>
{{ end }}