{{ define "main" }}

<div class="container">
  <div class="content">
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) 10 }}
    {{ range $paginator.Pages }}
    <article class="list">
      <h1 class="title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <div class="text-muted text-center">
        {{- partial "post-date.html" . -}}
      </div>
      <p>{{ .Summary }}</p>
      <div class="text-center">
        <a class="btn btn-primary btn-lg mt-3 mb-2" href="{{ .Permalink }}">Read the rest →</a>
      </div>
      <hr>
      {{- partial "post-tags.html" . -}}
      <div class="clearfix"></div>
    </article>
    {{ end }}
    <div class="pagination justify-content-center">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</div>
{{- end }}
