/* embuh ah */

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  background: #f5f7f9;
  font-weight: 400;
}

h1, h2 {
  font-family: "Open Sans", serif;
}

footer article {
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}

p {
  margin: 0 0 20px;
  margin-top: 20px;
}

.alert p {
  margin-top: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.alert {
  margin-top: 20px;
}

/* list home */
.list-objects {
  background: #fff;
  border: 1px solid #eee;
  padding: 40px 160px 50px 160px;
  margin-bottom: 40px;
}

.feed-list {
  padding-top: 10px;
  margin-bottom: 15px;
}

.logo h2 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}
.logo h2 a {
  color: #505050;
}

.logo h2 a span {
  color: #6ba5e4;
}

div.singleheader h2 {
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 10px;
}

div.singleheader h3 a {
  color: #666666;
}

div.singleheader h3 a:hover {
  color: #333;
}

div.singleheader hr {
  margin-top: 0;
}

.navbar-bg {
  margin-bottom: 20px;
}

ul li p {
  margin-top: 10px;
}

blockquote p {
  margin-top: 0;
}

a, h1 a {
  transition: color 0.5s, background 0.5s, underline 0.5s;
}

a:hover {
  text-decoration: underline;
}

h1 a:hover, h2 a:hover, h3 a:hover {
  text-decoration: none;
}

article {
  background: #fff;
  border: 1px solid #eee;
  padding: 40px 160px 50px 160px;
  margin-bottom: 40px;
}

article.list, article.list p {
  text-align: inherit;
}

figure img {
  width: 100%;
  border: 1px solid #eee;
  border-bottom: none;
}

figure.float-left img {
  border: none;
}

figure.float-left {
  border: none;
  float: left;
  margin: 0 20px 20px 0;
}

article figure figcaption {
  text-align: center;
  background: #fafafb;
  border: 1px solid #eee;
  margin: 0;
  padding: 10px;
  font-size: 14px;
}

figcaption h4, figcaption h4:hover {
  font-size: 14px;
  font-style: italic;
  color: #777;
  margin: 0;
}

figure.float-left figcaption {
  display: inline-block;
}

hr.mini {
  max-width: 100px;
  border-color: #cdcdcd;
}

img.avatar {
  border-radius: 51px;
}

pre, code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
}

pre {  
  padding: 10px 20px;
  background: #fafafb;
  border-radius: 0;
  border: 1px solid #eee;
}

h1 {
  text-align: center;
}

ul.site-nav {
  margin-top: 20px;
}

ul.site-nav, ul.site-nav li {
  list-style: none;
  padding-left: 0;
}

ul.site-nav li {
  display: inline;
}


h1.title, h1.title a {
  font-weight: 200;
  color: #333;
}

h1.title a:hover {
  text-decoration: none;
}

h1.four-oh-four {
  font-size: 8em;
}

p.four-oh-four {
  margin-top: 0;
}

article.single {
  margin-bottom: 10px;
}

header article {
  text-align: center;
  margin-bottom: 0;
}

small {
  font-weight: 400;
}

/* Bootstrap Overrides */
.text-muted {
  color: #999;
}

.text-muted a{
  color: #6c757d;
}

.text-muted a:hover{
  color: #343a40;
}

.container {
  max-width: 900px;
}

.btn.btn-link-open {
  border: none;
  color: #428bca;
}

.article-date {
  font-weight: bold;
}

.content {
  margin-top: 0;
}

.twitter-tweet {
  text-align: center;
}

.paging {
  margin-top: -20px;
  margin-bottom: 20px;
}

.paging p {
  margin: 0;
}

.pagination {
  margin: 0;
}

.art-head {
  height: 4px;
  background: #f00;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

td, th {
  padding: 5px;
  border: 1px solid #eee;
}

thead {
  background: #efefef;
}

#toc-container {
  max-width: 200px;
  float: right;
  background: #fff;
  border: 1px solid #eee;
  padding: 10px 15px;
  margin: 0 0 25px 25px;
  font-size: smaller;
  line-height: 1.8;
}

#TableOfContents ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#TableOfContents ul li ul {
  padding-left: 30px;
}

#TableOfContents ul li ul li {
  list-style-type: disc;
}

@media (max-width: 768px) {
  article, .list-objects {
    padding: 40px 20px 50px 20px;
    word-wrap: break-word;
  }

  div.highlight, pre code, article figure {
    margin-left: -20px;
    margin-right: -20px;
  }

  div.highlight pre, pre code {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 639px) {
  #toc-container {
    display: none;
  }
}