<footer>
  <div class="container">
    <p class="text-muted">
      Copyright &copy; <span class="thisyear"></span>&nbsp;{{ .Site.Title }}.
    </p>
  </div>
</footer>
<script src="{{ "lib/jquery/jquery.min.js" | absURL }}"></script>
<script src="{{ "lib/popper/popper.min.js" | absURL }}"></script>
<script src="{{ "lib/bootstrap/js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/main.js" | absURL }}"></script>