{{- $title := print .Title " | " .Site.Title -}}
{{- $description := print .Summary -}}
{{- if .IsHome -}}
  {{- $title = .Site.Title -}}
  {{- $description = $.Site.Params.description -}}
{{- end -}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="title" content="{{ $title }}">
  <meta name="description" content="{{ $description }}" />
  <!-- Start of Open Graph -->
  <!-- start og:type stmt -->
  {{- if .IsPage -}}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}">
  {{- else -}}
  <meta property="og:type" content="website">
  {{- end -}}
  <!-- end type -->
  <meta property="og:url" content="{{ .Permalink }}"/>
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:image" itemprop="image primaryImageOfPage" content="{{ $.Site.Params.logo | absURL }}" />
  <!-- End of Open Graph -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:domain" content="{{ .Site.BaseURL }}" />
  <meta name="twitter:title" property="og:title" itemprop="name" content="{{ .Title }}" />
  <meta name="twitter:description" property="og:description" itemprop="description" content="{{ $description }}" />
    
  <!-- {{ template "_internal/opengraph.html" . }} -->
  {{ hugo.Generator }}
  <link rel="stylesheet" type="text/css" href="{{ "lib/bootstrap/css/bootstrap.min.css" | absURL }}">
  <link rel="stylesheet" type="text/css" href="{{ "lib/highlight/styles/vs.css" | absURL }}">
  <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">

  <script src="{{ "lib/highlight/highlight.pack.js" | absURL }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <title>{{ $title }}</title>
</head>