<header>
  {{- partial "navbar.html" . -}}
  {{ $section_url := print .Section }}
  {{ if .IsHome }}
    {{ $section_url = "" }}
  {{ end }}
  <div class="container singleheader">
    <div class="row">
      <div class="col-md-6 text-md-left text-center">
        <h3 class="text-capitalize"><a href="/{{ .Section }}">{{ .Section }}</a> </h3>
      </div>
    </div>
    {{ if .Section -}}
    <hr />
    {{- end }}
  </div>
</header>