<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <div class="container">
    <div class="logo">
      <h2><a href="/" class="scrollto"><span>Ronie</span> Rush</a></h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>