<div class="mt-1">
  <hr class="mini" />
  <ul class="pagination justify-content-center">
    {{ if .PrevInSection }}
    <li class="page-item">
      <a class="page-link" href="{{.PrevInSection.Permalink}}">Previous article</a>
    </li>
    {{ end }}
    {{ if .NextInSection }}
    <li class="page-item">
      <a class="page-link" href="{{.NextInSection.Permalink}}">Next article</a>
    </li>
    {{ end }}
  </ul>
  <div class="clearfix"></div>
</div>
