<div class="foot-nav mb-1 mt-3">
  {{ if .PrevInSection }}
  <a class="float-md-left" href="{{.PrevInSection.Permalink}}">
    <h6 class="font-weight-light font-italic">Previous Post</h6>
  </a>
  {{ end }}
  {{ if .NextInSection }}
  <a class="float-md-right" href="{{.NextInSection.Permalink}}">
    <h6 class="font-weight-light font-italic">Next Post</h6>
  </a>
  {{ end }}
  <div class="clearfix"></div>
</div>