<small class="float-md-left">
  {{ with .Params.tags }}
    {{ range . }}
      {{ $href := print (absURL "tags/") (urlize .) }}
      <a href="{{ $href }}">#{{ . }}</a>
    {{ end }}
  {{ end }}
</small>
